In [1]:
# Import Libraries
import pandas as pd 
import numpy as np 
import os

In [2]:
# 4.6.3 Import orders_products_combined.pkl

In [3]:
df_ords_prods_combined = pd.read_pickle('/Users/samantha/Documents/Instacart Analysis/02 Data/Prepared Data/orders_products_combined.pkl')

In [ ]:
# 4.6.4 check the shape of df_ords_prods_combined

In [4]:
df_ords_prods_combined.shape

(32434489, 13)

In [ ]:
# check the head of df_ords_prods_combined

In [13]:
df_ords_prods_combined.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,0,0,2539329,1,prior,1,2,8,999.0,196,1,0,both
1,0,0,2539329,1,prior,1,2,8,999.0,14084,2,0,both
2,0,0,2539329,1,prior,1,2,8,999.0,12427,3,0,both
3,0,0,2539329,1,prior,1,2,8,999.0,26088,4,0,both
4,0,0,2539329,1,prior,1,2,8,999.0,26405,5,0,both

In [ ]:
# drop merge column in df_ords_prods_combined

In [28]:
df_ords_prods_combined = df_ords_prods_combined.drop(columns = ['_merge'])

In [ ]:
# check output of df_ords_prods_combined

In [29]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,999.0,196,1,0
1,2539329,1,1,2,8,999.0,14084,2,0
2,2539329,1,1,2,8,999.0,12427,3,0
3,2539329,1,1,2,8,999.0,26088,4,0
4,2539329,1,1,2,8,999.0,26405,5,0

In [ ]:
# Import products data set

In [8]:
df_prods = pd.read_csv('/Users/samantha/Documents/Instacart Analysis/02 Data/Prepared Data/products_checked.csv', index_col = False)

In [14]:
# check the shape of df_prods

In [15]:
df_prods.shape

(49672, 6)

In [ ]:
# check the head of df_prods

In [16]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
# Drop unnamed column for df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [ ]:
# check output of df_prods

In [19]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [ ]:
# 4.6.5 combine the orders_products_combined dataframe with your products data set

In [30]:
df_merged = df_ords_prods_combined.merge(df_prods, on = 'product_id', indicator = True)

In [ ]:
# 4.6.6 Confirm the results of the merge using the merge flag.

In [32]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [35]:
# 4.6.7 Export data to pkl

df_merged.to_pickle('/Users/samantha/Documents/Instacart Analysis/02 Data/Prepared Data/ords_prods_combined.pkl')